.footer-distributed {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FF2E61;
}

.footer-distributed .footer-company-about {
    color: black;
}

.footer-distributed .footer-company-name {
    color: black;
}

/*
.footer-distributed .footer-center p a{
color: #F0F8FF;
}

.footer-distributed h3 {
color: black;
}

.footer-distributed .footer-links {
color: black;
}

.footer-distributed .footer-company-name {
color: black;
}

.footer-distributed .footer-center p span {
color: black;
}

.footer-distributed .footer-center p {
color: black;
}

.footer-distributed .footer-company-about span {
color: black;    
}*/