/*
@font-face {
font-family: GrandHotel;
src: url(GrandHotel-Regular.otf);
}
*/
.avatartaille{
    width: 255px;
    height: 255px;
}

.cookie_banner{
    text-align: center;
    background: red;
}

.cookie_banner_txt{
    color: black;
}
.logoynov {
    height: 150px;
    width: 150px;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;

}

.logowiki {
    padding-top: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: auto;
}

div.alert-danger {
    text-align: center;
    margin: auto;
}

div.alert-success {
    text-align: center;
    margin: auto;
}

div.alert-info {
    text-align: center;
    margin: auto;
}

.classdecentragelol {
    margin: auto;
    display: block;
    text-align: center;
}

label {
    display:block;
    text-align: center;
}

.form-control{
    text-align: center;
    border: 2px solid red;
}